<div class="w-full">
    <nav class="flex items-center bg-gray-200">
        <a *ngFor="let row of charts | keyvalue" (click)="changeTab(row.key)" href="#" class="flex-1 text-center px-3 py-2 font-medium text-xs leading-5 rounded-md text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 focus:bg-gray-200">
            {{ row.key }}
        </a>
        <a href="#" class="flex-1 text-center ml-4 px-3 py-2 font-medium text-xs leading-5 rounded-md text-gray-800 bg-blue-300 focus:outline-none focus:bg-gray-300">
            Super Chart #3
        </a>
    </nav>
</div>


<div class="fixed inset-0 overflow-hidden mt-9">

    <div class="p-6">
        <span *ngFor="let row of charts | keyvalue">
            <app-chart [chartConfig]="row.value" [chartTitle]="row.key" *ngIf="activeChart == row.key"></app-chart>
            <a href="#" (click)="deleteChart($event, row.key)" *ngIf="activeChart == row.key">Delete Chart</a>
        </span>
    </div>

    <div class="hidden absolute inset-0 overflow-hidden ">
        <section class="absolute inset-y-0 right-0 max-w-full flex bg-blue-800">
            <!--
          Slide-over panel, show/hide based on slide-over state.
  
          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
            <div class="w-screen max-w-md">
                <div class="h-full flex flex-col space-y-6 py-6 bg-white shadow-xl">
                    <header class="px-4 sm:px-6">
                        <div class="flex items-start justify-between space-x-3">
                            <h2 class="text-lg leading-7 font-medium text-gray-900">
                                Panel title
                            </h2>
                            <div class="h-7 flex items-center">
                                <button aria-label="Close panel" class="text-gray-400 hover:text-gray-500 transition ease-in-out duration-150">
                                    <!-- Heroicon name: x -->
                                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </header>
                    <div class="relative flex-1 px-4 sm:px-6">
                        <!-- Replace with your content -->
                        <div class="absolute inset-0 px-4 sm:px-6">
                            <div class="h-full border-2 border-dashed border-gray-200">
                                HERE 123
                            </div>
                        </div>
                        <!-- /End replace -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>